<!DOCTYPE html>
<html>
  <head>
  	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <!-- me gusta? -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script>
    	var app = angular.module('myApp', []);
    	app.controller('customersCtrl', function($scope, $http) {
        //get data from API
        $http.get("/api/list")
    	  .then(function (response) {
          $scope.names = response.data;

          angular.forEach($scope.names, function (item) {
            if (item.Enabled){
              item.selectedOption = {id: '1', name: 'true'}
            } else{
              item.selectedOption = {id: '2', name: 'false'}
            }
          })
        });

        //onclick handler
        $scope.remove = function(array, index){
          array.splice(index, 1);
        }

        $scope.update = function(array, id){
          var name = $('#' + id + '_name').val()
          var enabled = $('#' + id + '_enabled').val()

          array.forEach(function(item, index){
            if (item.ID == id) {
              item.Name = name;
              item.Enabled = enabled;
            }
          })
        }

        $scope.data = {
         availableOptions: [
           {id: '1', name: 'true'},
           {id: '2', name: 'false'}
         ]
        };

    	});
    </script>
	</head>
  <body>
  <!-- good stuff -->
<div ng-app="myApp" ng-controller="customersCtrl">
  <table class="table">
	   <thead>
	      <tr>
    		 <th>Name</th>
    		 <th>Enabled</th>
    		 <th>Action</th>
	      </tr>
	   </thead>
	   <tbody>
       <tr ng-repeat="x in names">
        <td>
          <input type="text" id="{{ x.ID + '_name' }}" value="{{ x.Name }}">
        </td>
        <td>
          <select id="{{ x.ID + '_enabled' }}"
            ng-options="option.name for option in data.availableOptions track by option.id"
            ng-model="x.selectedOption">
          </select>
        </td>
        <td>
          <button type="button" class="btn btn-primary" id="{{x.ID}}_update" ng-click="update(names, x.ID)">Udate</button>
          <button type="button" class="btn btn-warning" id="{{x.ID}}_delete" ng-click="remove(names, $index)">Delete</button>
          <input type="hidden" name="ID" value="{{ x.ID }}">
        </td>
      </tr>
      <tr>
        <td>
            <form action="/api/create" id=createNew>
            <input type="text" id="Name" name="Name" value="John">
        </td>
        <td>
            <select id="enabledSelect" name="Enabled" form="createNew">
              <option value="true">True</option>
              <option value="false">false</option>
            </select>
        <td>
            <input type="submit" value="Add" class="btn btn-primary">
            </form>
        </td>
      <tr>
    </tbody>
  </table>
</body>
</html>
