<!DOCTYPE html>
<html>
  <head>
  	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="script.js"></script>
	</head>
  <body>
  <!-- good stuff -->
<div ng-app="myApp" ng-controller="customersCtrl">
  <table class="table">
	   <thead>
	      <tr>
    		 <th>Name</th>
    		 <th>Enabled</th>
    		 <th>Action</th>
	      </tr>
	   </thead>
	   <tbody>
       <tr ng-repeat="x in names">
        <td>
          <input type="text" id="{{ x.ID + '_name' }}" value="{{ x.Name }}">
        </td>
        <td>
          <select id="{{ x.ID + '_enabled' }}"
            ng-options="option.name for option in data.availableOptions track by option.id"
            ng-model="x.selectedOption">
          </select>
        </td>
        <td>
          <button type="button" class="btn btn-primary" id="{{x.ID}}_update" ng-click="update(names, $index, x.ID)">Udate</button>
          <button type="button" class="btn btn-warning" id="{{x.ID}}_delete" ng-click="remove(names, $index)">Delete</button>
          <input type="hidden" name="ID" value="{{ x.ID }}">
        </td>
      </tr>
      <tr>
        <td>
            <input type="text" id="newName" name="Name" placeholder="John">
        </td>
        <td>
            <select id="newEnabledSelect" name="Enabled">
              <option value="true">True</option>
              <option value="false">false</option>
            </select>
        <td>
            <input type="button" ng-click="create(names)" value="Add" class="btn btn-primary">
        </td>
      <tr>
    </tbody>
  </table>
  <p>Output Message : {{msg}}</p>
  <p>Timestamp: {{timestamp}}</p>
  <p>StatusCode: {{statusval}}</p>
  <p>Status: {{statustext}}</p>
  <p>Response Headers: {{headers}}</p>
</div>
</body>
</html>
